@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,700&display=swap');

section{
    display: flex;
    justify-content: center;
    width: 100%;
    /* margin: auto; */
    /* align-items: center; */
    /* min-width: 839px; */
    /* white-space: nowrap; */
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    font-family: 'Roboto Mono', monospace;
    font-size: 80px;
    width: 100%;
    /* min-width: 1200px; */
}
.mili{
    /* width: 12vw; */
    text-align: left;
    align-items: center;
}
.seg{
    /* width: 12vw; */
    text-align:left;
    align-items: center;
}