@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,700&display=swap');
.iniciar{
    background-color: green;
}
.pausar{
    background-color: brown;
}
.reiniciar{
    background-color: skyblue;
}
button{
    width: 80px;
    height: 30px;
    border: none;
    font-family: 'Roboto Mono', monospace;
    color: white;
}